<!-- README.md template for chart -->

{{ template "chart.header" . }}
{{ template "chart.deprecationWarning" . }}

{{ template "chart.description" . }}

> [!IMPORTANT]
> This repo is not maintained or endorsed by the developer(s) of CWA.

{{ template "chart.badgesSection" . }}

[![GitHub Repo](https://img.shields.io/badge/View_on_GitHub-blue?logo=github)](https://github.com/jedaniels000/helm-cwa)
[![Artifact Hub](https://img.shields.io/endpoint?url=https://artifacthub.io/badge/repository/calibre-web-automated)](https://artifacthub.io/packages/search?repo=calibre-web-automated)

{{ template "chart.homepageLine" . }}

{{ template "chart.maintainersSection" . }}

{{ template "chart.sourcesSection" . }}

{{ template "chart.requirementsSection" . }}

{{ template "chart.valuesSection" . }}

{{ template "helm-docs.versionFooter" . }}
